html {
    box-sizing: border-box;
    background-color: khaki;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5vw;
} 
*, *::before, *::after {
    box-sizing: inherit;
}
div {
    border-color: red;
    border-style: dotted;
}
h1 {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 3vw;
}
h2 {
    color: blue;
    background-color: yellow;
    text-align: center;
    font-size: 2vw;
}
p {
    color: rgb(0, 255, 34);
    text-align: center;
}
ul {
    list-style-type: none;
    margin-left: -35px;
    width: 100%;
}
ol {
}
footer {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: space-around;
}

/*container styles*/
.container {
    /*display: grid;
    grid-template-areas: "head body"
                         "foot foot";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 14fr 1fr;
    margin: 50px;
    grid-gap: 10px;*/
    display: flex;
}
.head {
   /* grid-row: 1;
    grid-column: 1;*/
    background-color: aqua;
    flex: 1;
}
.body {
    /*grid-row: 1 / span 2;
    grid-column: 2;*/
    background-color: lightgreen;
    /*display: flex;
    flex-direction: column;*/
    flex: 1;
}
.list {    
    justify-content: center;
    background-color: rgb(0, 255, 170);
    align-items: center;
    /*display: grid;*/
}
.directions {
}
.foot {
    /*grid-row: 2;
    grid-column: foot;
    justify-items: center;
    display: flex;
    justify-content: space-around;*/
    background-color: gray;
    text-align: center;
}

/*image styles*/
.center {
    display: flex;
    width: 70%;
}
    .roundimg {
    border-radius: 50%;
}
.zoom {
    transition: transform .2s;
    width: 70%;
    height: auto;
    margin: 0 auto;
}
.zoom:hover {
    transform: scale(1.25);
}